@model IEnumerable<App.Entities.Queries.ConsultaTracks>
@using App.UI.Web.MVC.Helpers;



<br />
    <table class="table table-striped table-bordered table-hover" >
        <thead>
            <tr>
                <th>Nombre Track</th>
                <th>Nombre Genero</th>
                <th>Compositor</th>
                <th>Nombre Artista</th>
                <th>Precio</th>
                <th>Fecha Consulta</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)//recorre todos los elementos q esta en model (tipo de datos)
            {
                <tr>
                    <td>@item.TrackName</td>
                    <td>@item.GenreName</td>
                    <td>@item.Composer</td>
                    <td>@item.ArtistName</td>
                    <td>@item.UnitPrice</td>
                    <td>@Helpers.FormatFecha(@item.FechaConsulta)</td>
                </tr>
            }
        </tbody>


    </table>
